@tailwind base;
@tailwind components;
@tailwind utilities;

.webgi-canvas {
  width: 100%;
  height: 100%;
  background: transparent;
}

.webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  top: 0;
  pointer-events: none;
  min-height: 831px;
  background: transparent;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loader {
  position: fixed;
  z-index: 2;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadeOut;
  animation-duration: 0.25s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.loader .logo {
  max-width: 400px;
  max-height: 300px;
  width: 100%;
  height: 100%;
}
